/**
* General layout
*/

.wrap-all {
    background-color: @backgroundColor;
}

.inner-wrap {
    background-color: @backgroundColor;;
}

/**
* Header
*/
.region-header-col-1 a,
.region-header-col-3 a
{
    color: @textColor;
}

/**
* Navbar
*/
.my-navbar {
    color: @textColor;
}
.my-navbar a {
    color: @linkColor;
}
.my-navbar a:link {
    color: @linkColor;
}
.my-navbar a:hover {
    background-color: #fff;
    text-decoration: underline;
}
.my-navbar a:active {
    color: #fff;
}
.my-navbar .selected {
    background-color: #fff;
}
.rm-default li li {
    background-color: @backgroundColor;
    color: @textColor;
}

/**
* Footer
*/
.region-footer a {
    color: @linkColor;
}

.outer-wrap-footer,
.inner-wrap-footer {
    color: @textColor;
    background-color: @backgroundColor;
}

.outer-wrap-footer {
    border-top: white solid 1px;
}

.region-footer {
    text-align: center;
}

.outer-wrap-footer {
    padding-top: @magicNumber;
    padding-bottom: @magicNumber * 2;
}

/**
* Byline
*/
.author-byline {
    border-color: grey;
    background-color: @bylineColor;
}
.author-byline a {
    color: @linkColor
}

/**
* Sidebars
*/
.wrap-sidebar a {
    color: @linkColor;
}
.region-breadcrumb a {
    color: @linkColor;
}
.next-previous a {
    color: @linkColor;
}
.next {
    color: @linkColor;
}
.previous {
    color: @linkColor;
}
